
<div class="container">

    <!-- student name -->
    <div class="from-control">
        <label for="name">Student Name</label> <br>
        <input type="text" id="name" placeholder="name" />
    </div>
  

    <!-- student id -->
    <div class="from-control">
        <label for="idNumber">Student ID</label> <br>
        <input type="number" id="idNumber" placeholder="411420876" />
    </div>
  

    <!-- student gdpa -->
    <div class="from-control">
        <label for="gdpa">Student GDPA</label> 
        <br>
        <input type="number" id="gdpa" placeholder="3.50" />
    </div>
   
    
    <!-- Student date of birth -->
    <div class="from-control">
        <label for="gdpa">Student date of birth</label> 
        <br>
        <input type="text" id="stuDate" placeholder="3/3/1999"/>
    </div>
 

    <button id="submit" (click) = "startClick()">Add Student</button><br>
    <button id="submit" (click) = "startClick()">print Student</button>


</div>
