
.container{
    
    width: 50%;
    margin: auto;
    padding: 50px ;
    border: 2px solid rgba(19, 8, 82, 0.918);
    border-radius: 10px ;
    background-color: rgba(174, 185, 196,0.9) ;
   
}

.from-control {
    width: 50%;
    padding: 15px;
    margin: 5px 10px 3px 10px;
    background: rgba(19, 8, 82, 0.918);
    border-radius: 10px ;
    color: white;
   
}
input[type=text], input[type=number]{
    width: 60%;
    padding: 9px;
    margin: 10px;
    background: rgba(248, 248, 248, 0.9);
    border-radius: 10px ;

}
#submit{
    padding: 10px 28px;
    margin: 10px 11px;
    text-align: center;
    font-size: 16px;
    border: 2px solid rgba(19, 8, 82, 0.918);
    border-radius: 10px ;
}

#submit:hover{
    background-color:rgba(19, 8, 82, 0.918);
    color: white;
}
#print,#update ,#delete{
    background-color: rgba(19, 8, 82, 0.918);
    color:white;
    display: none;
}